body {
  background-color: lightgoldenrodyellow;
}

div[data-testid="stHorizontalBlock"] > div:last-of-type {

}

div[data-testid="stImage"] {
  background-color: black;
}

img {
    padding:0px;
    border:0px;
    margin:0px;
}

.css-18e3th9 {
    padding-top: 0rem;
    padding-bottom: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.css-1d391kg {
    padding-top: 3.5rem;
    padding-right: 1rem;
    padding-bottom: 3.5rem;
    padding-left: 1rem;
}
