body {
  background-color: lightgoldenrodyellow;
}

div[data-testid="stHorizontalBlock"] > div:last-of-type {
  border-left-style: solid;
}

div[data-testid="stImage"] {
  background-color: black;
}

img {
    padding:0px;
    border:0px;
    margin:0px;
}
